*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.main-section {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  height: 100%;
}
.heading-section {
  background-color: rgb(132, 189, 146);
  padding: 5px;
  margin-top: 0px;
}
.auto-input {
  margin: 50px 0;
  padding: 10px;
  min-height: 70vh;
  text-align: center;
  border: 5px solid rgb(167, 120, 120);
}

input {
  width: 100%;
  border-radius: 4px;
  height: 30px;
  padding: 5px;
}

input:focus {
  border: 2px solid blue;
  background-color: lightgrey;
}

#suggestions-list {
  display: none;
  margin-top: 20px;
  overflow-y: auto;
  text-align: left;
  padding: 5px;
}

.suggestion-visible {
  display: block !important;
  border: 1px solid beige;
}

.suggestion-visible > div {
  background-color: rgb(33, 53, 201);
  border: 1px solid red;
  margin: 2px;
  padding: 5px;
}
