.auto-input {
  text-align: center;
  margin: 20%;
}
#input-button {
  border-radius: 4px;
  padding: 12px 20px;
  color: white;
  background-color: black;
  margin-left: 20px;
}

input {
  border-radius: 4px;
  height: 30px;
  padding: 5px;
}

input:focus {
  border: 2px solid blue;
}

.list-container {
  margin-top: 20px;
  border: 1px solid gray;
}
