* {
  height: 100%;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.star-rate-container {
  height: max-content;
  background-color: aliceblue;
  padding: 20px;
  border: 2px dotted grey;
}

.star {
  font-size: 20vh;
  cursor: pointer;
}

.one {
  color: rgb(255, 0, 0);
}

.two {
  color: rgb(255, 106, 0);
}

.three {
  color: rgb(251, 255, 120);
}

.four {
  color: rgb(255, 255, 0);
}

.five {
  color: rgb(24, 159, 14);
}
